<% include partials/header %>
<script>
    $(document).ready(function(){
        $('#activate_nav li').removeClass("active");
        $('#tab5').addClass("active");
    });
</script>
<div class="container">
<center><h3><strong>Games tracking platform</strong></h3></center>
</div>
<% include partials/footer %>